body {
	margin: 0 auto;
	background-image: url(assets/gradient_squares.png);
}

h2 {
	font-family: 'Montserrat', sans-serif;
	color: blue;
	margin-left: 100px;
	margin-right: 0;
	border-bottom: 3px solid black;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	color: #2E64FE;
}

#template {
	width: 700px;
	height: 550px;
	margin-left: 100px;
}

#container {
	width: 800px;
	height: 650px;
}

.paragraph {
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	color: #2E64FE;
	font-size: 14px;
}

p {
	font-family: "Helvetica", sans serif;
	color: #000;
	font-size: 14px;
}

iframe {
	border: 4px solid #000;
}

#chooseGameButton {
	border: 1px solid #000;
	border-radius: 5%;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	width: 90px;
	height: 50px;
	margin: 0 auto;
	background-color: #2E64FE;
}

#button {
	margin-left: 100px;
	margin-top: 0;
	padding-top: 0;
}

#disqus_thread {
	margin-top: 10px;
}
